

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');


.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
  }



.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

  



body{
    margin: 0;
    padding: 0;
    background-color: hsl(30, 54%, 90%);
    color: hsl(24, 5%, 18%);
    font-family: "Outfit", sans-serif;
    line-height: 1.4;
}

*{
    box-sizing: border-box;
}

#recipe{
    background-color: hsl(0, 0%, 100%);
    
}

.container{
    margin: 1rem 1.5rem;
    
}

.preparation {
    background-color: hsl(330, 100%, 98%);
    padding: 1.5rem;
    border-radius: 10px;
}

.preparation ul {
    margin: 0;
}

.preparation h3{
    margin-top: 0;
}

.ingredients, .instructions{
    border-bottom: 1px solid hsl(30, 18%, 87%);
   padding-bottom: 1.6rem;
   
}

.ingredients ul, .instructions ol{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.nutrition, .instructions{
    margin-top: 1.6rem;
}

h1, h2{
    font-family: "Young Serif", serif;
}

h1{
    margin: 0;
}


h2, td{
    color: hsl(14, 45%, 36%);
}

h3{
    color: hsl(332, 51%, 32%);
}


li{
    padding-left: .75rem;
    padding-bottom: .75rem;
}

li:last-child{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

ul li::marker {
    font-size: .70rem;
}

.preparation  li::marker{
    color: hsl(332, 51%, 32%);
}

.ingredients ul{
   padding-left: 25px;
}

ol li::marker, .ingredients li::marker {
    color: hsl(14, 45%, 36%);
}

header  img{
    width: 100%;
}

a{
    color: aqua;
    text-decoration: none;
    transition: all 1s ease-in-out;
}

a:hover{
    color: lawngreen;
    text-decoration: underline;
}

table{
    
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

tr{
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

th, td{
    font-weight: 400;
    padding: 10px;
}

td{
    font-weight: 600;
}

footer{
    margin-top: 200px;
    padding: 20px;
    background-color: hsl(30, 10%, 34%);
    margin: 0;
    border-radius: 10px;
    text-align: center;
    color: whitesmoke;
}


@media (min-width: 700px) {
 
    body{
        min-height: 100vh;
        display: grid;
        place-content: center;
    }

    #recipe{
        width: 650px;
        margin: 50px 0;
        border-radius: 10px;
        padding: 1.5rem;
    }

  
    .image{
        margin: 1.5rem;
    }
    header img{
        width: 100%;
        border-radius: 10px;
   
    }
}

/*




- Wenge Brown: hsl(30, 10%, 34%)
*/